body{

    margin: 0;
    padding: 0;
}
 nav{

     background: #051729; 
     padding: 25px;
     

 }
 nav .show,
 nav .hide{

    text-align: center;
    padding: 10px;
    color: white;
 }

nav ul li a{

    color: white;
    text-decoration: none;
 
    margin-left: 50px;
    

 } 
 .menu ul {

   list-style: none;
   padding: 0;
   margin: 0;
 }
 .menu >ul > li{

   display: inline-block;
   position: relative;
 }
 .menu ul ul{

   position: absolute;
   background:#0E1822;
   color: white;
   top: 100%;
   left:50px;
    display: none; 
   

 }
 .menu ul ul li a{


   display: inline-block;
   margin: 10px 0;

 }
 #slide{

    font-size: 50px;
   border: rgba(red, green, blue, alpha);
   position: absolute;
   bottom: 0;
   right: 0;
 }

 .fixed{

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
 }
  .top{
  
  padding: 10px;
  background: red;
  display: inline-block;
  border-radius: 15px 15px 0 0;
  color: white;
  position: fixed;
  
  right: 0;
  bottom: 0;
  display: none;
 }